.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section{
  background-color: lightblue;
  width: 150px;
}

.middle-section{
  flex: 1;
  background-color: lightgreen;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 600px;
}

.right-section{
  background-color: lightcoral;
  width: 200px;
}