.thumbnails{
  margin-top: 10px;
  width: 100%;
}

.channel-picture{
  width: 40px;
  border-radius: 50%;
}

.css-grid-video-details{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

.video-title{
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-stats{
  font-size: 12px;
  color: #606060;
}

.video-author{
  font-size: 12px;
  margin-bottom: 5px;
}
