.thumbnails{
  margin-top: 10px;
  width: 100%;
  display: block;
}

.video-logo{
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
}

.search-bar{
  display: block;
}

.video-container{
  width: 500px;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.video-title{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  display: inline-block;
  vertical-align: middle;
}
